# Fake Bank Note Identifier

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importing dataset

## Wavelet Transform tool were used for the extraction of features from images

df= pd.read_csv("Fake_Note_Authentication.csv")

In [5]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [6]:
df.tail()

      variance  skewness  curtosis  entropy  class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [7]:
# Feature (Independent and Dependent) selection
## the class column being the only independent feature :

X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

### Train Test Split

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

## Random Forest Classifier

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

#### Prediction

In [16]:
y_pred = classifier.predict(X_test)

#### Checking Accuracy

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
score = accuracy_score(y_test,y_pred)

In [19]:
score

0.9902912621359223

In [21]:
## So by seeing the accuracy score, we can say that
## this particular model can be a overfitting one !
# Anyways,

### Creating a pickle file

In [22]:
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

### Now, checking by doing a prediction :

In [23]:
import numpy as np

In [24]:
classifier.predict([[-2,4,-7,1]])

array([1], dtype=int64)

In [25]:
classifier.predict([[4,3,5,8]])

array([0], dtype=int64)

In [26]:
# Now i'll use this classifier in my flask app !